NAME="Test User"
EMAIL="test@example.com"
VSCODE_EXTENSIONS_JAAR1="esbenp.prettier-vscode,ritwickdey.LiveServer,bmewburn.vscode-intelephense-client"
VSCODE_EXTENSIONS_JAAR2="esbenp.prettier-vscode,dbaeumer.vscode-eslint,dsznajder.es7-react-js-snippets,onecentlin.laravel-blade"
